<nav id="footer" class="navbar navbar-default navbar-fixed-bottom topShadow">
    <div class="container">
        <span class="credit">
            &copy; Alan Cândido (brodão) <a href="http://albb.objectis.net/" target="_blank">Almanaque BRODÃO e
                bródinho<span class="glyphicon glyphicon-link" aria-hidden="false"></span></a>
        </span>
        <span class="credit pull-right">
            Construído com <a href="http://getbootstrap.com" target="_blank">Twitter
                BootStrap<span class="glyphicon glyphicon-link" aria-hidden="false"></span></a>,
            <a href="www.glyphicons.com" target="_blank">Glyphicons<span class="glyphicon glyphicon-link"
                    aria-hidden="false"></span></a> e <a href="https://pages.github.com/" target="_blank">GitHub
                Pages<span class="glyphicon glyphicon-link" aria-hidden="false"></span></a>
        </span>
    </div>
</nav>
